#outerbox{
    height: 700px; ;
    width: 700px ;
    border: 3px solid black;
}

#parent1 {
    /* height: 700px; ;
    width: 700px ;
    border: 3px solid black; */
    display: grid;
    grid-template-columns: 150px 200px 150px 200px;
    justify-items: center;
    align-items: center;
    row-gap: 10px10;
}

.p1child{
    height: 50px; ;
    width: 50px ;
    border: 1px solid black;
    background: plum;
}

