#page{
border: 1px solid black;
margin: 10px auto ;
width: 794px;
height: 1123px;
display: flex;

}

#sideBar{
    width: 35%;
    background-color: #34495E;
 padding: 20px;
}   

#mainContent{
    width: 65%;
    background-color: #d6dbdf;
    padding: 20px;

}

#img{
    width: 250px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;


    img{
        width: inherit;
        height: inherit;
        object-fit: cover;
        object-position: top;
    }
}

#name{
    padding: 5px;
    color: aliceblue;
    text-align: center;
}

#desigination{
    text-align: center;
    color: antiquewhite;
    text-align: center;
}

#hr{
   margin-top: 5px;
   border: 1px solid #000;
}


#sidebarHeading{
    margin-top: 20px;
    color: aliceblue;
}


























