#div1{
    border: 1px solid #000;
    width: 100px;
    height: 20px;
    overflow: hidden;
    text-wrap-mode: nowrap;
}

#div1:hover{
    width: 200px;
    transition: width 3s linear 2s ;
}

#div2{
    border: 1px solid #000;
    width: 100px;
    height: 20px;
    overflow: hidden;
    text-wrap-mode: nowrap;
}

#card{

    margin: auto;
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    
}

#card:hover{

    transform: rotateX(360deg);
    transition: transform 3s linear ;
}